<div class="row">
  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item"><strong>Name</strong></li>
      <li class="list-group-item"><strong>Description</strong></li>
      <li class="list-group-item"><strong>Status</strong></li>
    </ul>
  </div>
  <div class="col-sm-8">
    <ul class="list-group">
      <li class="list-group-item"><%= task.name %></li>
      <li class="list-group-item"><%= task.comment %></li>
      <li class="list-group-item"><%= task.status %></li>
    </ul>
  </div>
</div>
