<div class="panel panel-default" style="width: 500px;">
  <div class="panel-heading">Task Details</div>
  <div class="panel-body">
    <%= render partial: 'tasks/view', locals: { task: @task } %>
  </div>
</div>
