<ul class="list-group">
  <% task_comments.each do |task_comment| %>
    <li class="list-group-item">
    <span class="badge"><%= task_comment.added_by.name %> <%= task_comment.created_at.to_s(:short) %></span>
      <%= task_comment.comment %>
    </li>
  <% end %>
</ul>
